body{
    overflow-x: hidden;
    display: flex;
    justify-content:center;
    flex-direction: columns;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    height:100vh;
    text-align:center;
    background-repeat:repeat;
    background-position: center;
    background-size: 140vw,auto,cover;
}
form {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 50vw;
    margin: 25vh auto;
    background-color: rgba(59, 59, 59, 0.6);
    padding: 2vh 3vw;
    border-radius: 1vh;
    min-width: 300px;
    text-align: center;
    
}
form h1{
    font-size: 2.5vw;
    transition: all .5s;
    color: #ffffff;
    text-align:center;
    font-family: RaceSportFree;
    margin-bottom: 40px;
}
@media screen and (max-width:700px){
    form{
        left: 50%;
        margin: 12vh auto;
    }
    form h1{
        font-size: 3vh;
    }
}
form a:hover{
    text-decoration: underline white;
}
form label{
    position: relative;
    font-size: 2vh;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
form label input {
    margin-bottom: 20px;
    font-size: 1em;
    background-color: #dadada;
    color: #000000;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    border: 2px solid #7a7a7a;
    transition: all 0.4s;
    width: 55%;
    min-width: 200px;
  }
form label input:focus {
    background-color: #ffffff;
}
form label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    color: #000000;
    transition: all 0.2s;
}
form label .password-icon:hover {
    cursor: pointer;
    color: #ff4754;
}
  
form label .password-icon .feather-eye {
    display: none;
}
form label input[type='radio']{
    width: 2vh;
    height: 2vh;
    margin-left: 5px;
}
form p.inscription{
    text-align: center;
    font-size: 2vh;
    margin-bottom: 20px;
    color: #ffffff;
}
form p.inscription span{
    color: #eb7371;
}
form input[type='submit']{
    height: 5vh;
    padding: 0px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: #eb7371;
    outline:none;
    cursor:pointer;
    transition: all .5s;
    border: solid white 2px;
}
form input[type='submit']:hover{
    background-color: red;
    border: solid black 2px;
}