.center{
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.verification-box{
  text-align: center;
  margin: auto;
}
.verification-box h1{
  transition: all .4s;
  margin: 0px 0px 20px 0px;
  color: white;
}
.verification-box h2{
  transition: all .4s;
  margin: 0px 0px 30px 0px;
  color: white;
}
.verification-box input[type="text"]{
  transition: all .4s;
  color: white;
  background-color: black;
  border: white solid 1px;
  border-radius: 1vh;
  width: 150px;
  padding: 5px 0px;
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width:500px) {
  .verification-box h1{
    font-size: 17px;
    margin: 0px 0px 20px 0px;
    color: white;
  }
  .verification-box h2{
    font-size: 15px;
    margin: 0px 0px 30px 0px;
    color: white;
  }
  .verification-box input[type="text"]{
    color: white;
    background-color: black;
    border: white solid 1px;
    border-radius: 1vh;
    width: 100px;
    padding: 5px 0px;
    font-size: 15px;
    text-align: center;
  }
}
#verifier{
  cursor: pointer;
  padding: 5px 10px;
  color: white ;
  background-color: black;
  border-radius: 1vh;
  border: solid 1px white;
  margin: 20px;
  font-size: 20px;
  transition: all .4s;
}
#verifier:hover{
  color: black;
  background-color: white;
  border: solid 1px black;
}
.verification-box a{
  transition: all .5s;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
}
a:hover{
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: transparent;
}